html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Remover o estilo cinza padrão do navegador no <select> */
select option:checked {
    background-color: #ffffff !important; /* Fundo branco */
    color: #000000 !important; /* Texto preto */
}

/* Estilo para o próprio campo select */
select {
    color: #000000; /* Texto preto */
    border: 1px solid #6A0DAD; /* Borda roxa */
    border-radius: 4px; /* Cantos arredondados */
    padding: 5px;
}
